// base colors
$color-active-green: #2F8D46;

$bg-color-light: #eee;

// timeline colors
$cl-light-tl-bar-idle: rgb(102, 102, 102);
$cl-light-tl-bar-buffered: #c2c2c2c2;
$cl-light-tl-bar-colored: #d3d3d3;
$cl-light-tl-bar-current: rgb(218, 73, 73);
$cl-light-tl-bar-ghost: rgb(172, 61, 61);

.text-color-active {
    color: $color-active-green;
}
