
.connection-screen {
    z-index: 999;
    background-color: rgb(218, 219, 150);
    color: black;
    display: none;
}

.error-screen {
    z-index: 999;
    background-color: rgb(219, 141, 141);
    color: black;
    display: none;
}