.canvas-popup {
    position: fixed;
    display: none;
    pointer-events: none;
    background-color: #222;
    border: 1px solid white;
    border-radius: 30px;
    padding: 20px;
    width: fit-content;
    height: fit-content;
    z-index: 2;
    color: #eee;

    .canvas-popup-title {
        font-size: 1.5em;
    }
}