@import "error_screens";
@import "loading";
@import "huds";
@import "timeline";
@import "session/session";
@import "switch";

body {
    width: 100vw;
    height: 100vh;
}

.full-screen {
    width: 100vw;
    height: 100vh;
    margin: 0;
    border: 0;
    position: fixed;
}

#ismr3dcanvas {
    width: 100vw;
    height: 100vh;
    z-index: 0;
    position: absolute;
    margin: 0;
    border: 0;
}
